<app-search-animation>How do I <app-text-highlight [color]="'lightblue'" [hover]="'vocab-replace words'">get
                to</app-text-highlight>&nbsp;<app-text-highlight [color]="'orange'" [hover]="'keywords'">Toronto
                airport</app-text-highlight>?</app-search-animation>

<h4 class="center prompt">Click anywhere to continue...</h4>


<h2 class="center" style="color:white; width: fit-content;">Try It Yourself!</h2>
<app-search-animation [skipTypieType]="true">How do I <app-text-highlight-click [color]="'lightblue'"
                [hover]="'vocab-replace words'">get
                to</app-text-highlight-click>&nbsp;<app-text-highlight-click [color]="'orange'"
                [hover]="'keywords'">Toronto
                airport</app-text-highlight-click>?</app-search-animation>

<h2 class="center" style="color:white; width: fit-content;">Check your own query!</h2>
<app-query-rank></app-query-rank>