<div class="component-div">
    <img class="center" src="assets/Logo-2d.png" alt="image">
    <div class="center search-bar">
        <div style="float:left">
            <img class="icon" src="assets/magnifying-glass-solid.svg" width="30px" height="30px"
                style="padding-right: 10px;">
        </div>
        <app-search-animation></app-search-animation>
    </div>

    <div class="nav-buttons">
        <a [routerLink]="'/tutorials'" class="tut-button"><button type="button">Tutorial</button></a>
        <a [routerLink]="'/tutorials'" class="build-button"><button type="button">Build Query</button></a>
    </div>

    <!-- <div class="container-sm text-center mt-2">
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-1">
                <a href="tutorials" class="btn btn-light" tabindex="-1" role="button" aria-disabled="false">Tutorial</a>
            </div>
            <div class="col-1">
                <a href="queryBuilder" class="btn btn-light" tabindex="-1" role="button" aria-disabled="false">Query Builder</a>
            </div>
            <div class="col-5">
            </div>
        </div>
    </div> -->
</div>