.component-div {
    margin-top: 7%;
}

.container {
    margin: 0 auto;
    /* margin-top: 5%; */
    display: block;
    height: fit-content;
    width: 90%;
    max-width: 1200px;
    max-height: 600px;
    padding: 2em;
}

button {
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 1rem;
    color: black;
    border-radius: 12px;
    width: 100%;
    /* background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04)); */
    /* box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15); */
    /* text-shadow: 0 1px rgba(255,255,255,.4); */
}

button:hover {
    background-color: #a65ce2;
    border-color: #fee57b;
}

.nav-buttons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.tut-button {
    grid-column: 6;
}

.build-button {
    grid-column: 7;
}

/*
    On Mobile
*/
@media only screen and (max-width: 600px) {
    .component-div {
        margin-top: 15%;
    }

    .search-bar {
        margin-top: 5%;
    }
}