.component-div {
    margin-top: 7%;
}

/*
    On Mobile
*/
@media only screen and (max-width: 600px) {
    .component-div {
        margin-top: 15%;
    }

    .search-bar {
        margin-top: 5%;
    }
}