<div class="carousel">
    <div class="slide" *ngIf="0==currentSlide">
        <app-search-animation>How do I improve my search results?</app-search-animation>
    </div>

    <div class="slide" *ngIf="1==currentSlide">
        <h2 class="center" style="color:white; width: fit-content;">Here's an Example</h2>
        <app-search-animation style="margin-top: 50%;">How do I <app-text-highlight [color]="'lightblue'"
                [hover]="'vocab-replace words'">get
                to</app-text-highlight>&nbsp;<app-text-highlight [color]="'orange'" [hover]="'keywords'">Toronto
                airport</app-text-highlight>?</app-search-animation>
        <h4 class="center prompt">See the keywords?</h4>
    </div>

    <div class="slide" *ngIf="2==currentSlide">
        <h2 class="center" style="color:white; width: fit-content;">Try Finding Them!</h2>
        <app-search-animation [skipTypieType]="true">How do I <app-text-highlight-click [color]="'lightblue'"
                [hover]="'vocab-replace words'">get
                to</app-text-highlight-click>&nbsp;<app-text-highlight-click [color]="'orange'"
                [hover]="'keywords'">Toronto
                airport</app-text-highlight-click>?</app-search-animation>
    </div>

    <div class="slide" *ngIf="3==currentSlide">
        <h2 class="center" style="color:white; width: fit-content;">Check your own query!</h2>
        <app-query-rank></app-query-rank>
    </div>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <!-- <span class="arrow left"></span> -->
        <img class="icon" src="assets/arrow-left-solid.svg" width="30px" height="30px"
            style="padding-right: 10px; filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(103%) contrast(100%);">
    </button>
    <button class="control next" (click)="onNextClick()">
        <!-- <span class="arrow right"></span> -->
        <img class="icon" src="assets/arrow-right-solid.svg" width="30px" height="30px"
            style="padding-right: 10px; filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(103%) contrast(100%);">
    </button>
</div>